<!doctype html>
<html lang="en">
  <head>
    <%- include('./nav.ejs'); %>
  </head>
  <body style = "background: #dd5e89;
  background: -webkit-linear-gradient(to left, #dd5e89, #f7bb97);
  background: linear-gradient(to left, #dd5e89, #f7bb97);
  min-height: 100vh;">
    <div > 
    <div class="position-absolute top-50 start-50 translate-middle">
      <div class="p-5">
        <h1>Welcome to The Great Library</h1>
      </div>
      
      <h3>Dive into the world of knowledge and imagination with our online library – a virtual haven for book enthusiasts and curious minds. Whether you're seeking literary classics, gripping novels, or the latest in non-fiction, we've curated a collection that caters to every reader's taste.</h3>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>