<form action="/books/add" method="post">
  <div class="mb-3">
    <label class="form-label">Title:</label>
    <input type="text" class="form-control" name="title" >
  </div>
  <div class="mb-3">
    <label class="form-label">Author:</label>
    <input type="text" class="form-control"  name="author">
  </div>
  <div class="mb-3">
    <label class="form-label">ISBN:</label>
    <input type="text" class="form-control" name="ISBN"  >
  </div>
  <div class="mb-3">
    <label class="form-label">Available Quantity:</label>
    <input type="number" class="form-control" name="availableQuantity">
  </div>
  <div class="mb-3">
    <label class="form-label">Shelf Location:</label>
    <input type="text" class="form-control" name="shelfLocation">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
